*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 36, 36); 
    min-height: 100vh;
}
.clock
{
    display: flex;
    border: 8px solid rgba(48, 47, 47, 0.767);  
    height: 350px;
    width: 350px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 30px 1px black;
}
.outer-clock{
    display: flex;
    height: 100%;
    width: 100%;
    position:relative;
}
.outer-clock::before{
    position: relative;
    content: "";
    height: 100px;
    width: 8px;
    background-color: rgb(34, 197, 252);
}